* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins,
.inter,
.manrope {
  font-family: 'Poppins', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 90px;
}
.container ul {
  display: flex;
  gap: 30px;
}
.container ul li a,
.container ul li {
  text-decoration: none;
  list-style: none;
  color: #3a3a3a;
}
.logo {
  display: flex;
  align-items: center;
  gap: 59px;
}
.logo i {
  display: none;
}
.logo h2 {
  font-size: 24px;
  font-weight: bold;
}
#banner {
  display: flex;
  justify-content: space-around;
}
.banner-content {
  width: 582px;
  height: 270px;
  margin: 145px 0 0 120px;
}
.banner-content h1 {
  font-size: 52px;
}
.banner-content p {
  font-size: 16px;
  color: #3a3a3a;
  width: 505px;
  height: 60px;
  margin-top: 10px;
}
.banner-content button {
  border: none;
  background-color: #e02c6d;
  color: aliceblue;
  font-weight: bold;
  width: 196px;
  height: 44px;
  border-radius: 44px;
}
.banner-content button i {
  margin-left: 8px;
}
.banner-img {
  width: 475px;
  height: 475px;
  /* border: 1px solid tomato; */
  margin: 50px 132px 0 0;
  background-image: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
.banner-img img {
  width: 440px;
  height: 414px;
  margin: 30px 33px 0 0;
}

@media screen and (max-width: 576px) {
  .container ul li a,
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 16px 0 35px;
  }
  .container ul li {
    display: none;
  }
  .logo i {
    display: block;
  }
  #banner {
    flex-direction: column-reverse;
  }
  .banner-img {
    max-width: 75%;

    /* border: 1px solid tomato; */
    margin: 22px auto;
    background-image: url(./images/Circle design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .banner-img img {
    width: 280px;
    height: auto;
    margin: 120px 32px 16px 50px;
  }
  .banner-content {
    width: 360px;
    height: 222px;
    margin-top: 22px;

    text-align: center;
  }
  .banner-content h1 {
    font-size: 28px;
    /* width: 360px; */
    /* text-align: center; */
  }
  .banner-content p {
    font-size: 14px;
    text-align: center;
    width: 303px;
  }
}
