* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins,
.inter,
.manrope {
  font-family: 'Poppins', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif;
}
header {
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 87px 0 0 120px;
}
.logo img {
  display: none;
}
.logo h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.nav-menu {
  margin: 95px 120px 0 0;
}
.nav-menu ul {
  display: flex;
  gap: 34px;
}
.nav-menu ul li {
  list-style: none;
}
.nav-menu ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
}
.nav-main-container {
  display: flex;
  justify-content: space-between;
}
.nav-text {
  margin-left: 120px;
  margin-top: 145.8px;
}
.nav-text button {
  margin-top: 16.1px;
  border: none;
  background: #e02c6d;
  padding: 10px 24px 10px 24px;
  border-radius: 41px;
  color: #ffffff;
  font-weight: bold;
}

.heding {
  width: 582px;
}
.nav-bio {
  width: 505px;
  margin-top: 16px;
}
.nav-bio p {
  font-size: 16px;
  font-weight: 600;
}
.heding h1 {
  font-size: 52px;
  font-weight: bold;
}

.nav-img {
  position: relative;
  width: 400px;
  margin-top: 50px;
  margin-right: 132px;
}
.back {
  position: absolute;
  width: 100%;
}
.on {
  position: absolute;
}
.nav-card {
  width: 70%;
  max-width: 1110px;
  margin: 0 auto;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  gap: 30px;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0 6px 50px 0 #00000010;
}
.nav-card img {
  width: 97px;
}

.hide {
  display: none;
}

@media screen and (max-width: 576px) {
  .nav-container {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .logo {
    max-width: 576px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo img {
    display: block;
  }
}
